.era-game-box {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.era-game-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.era-game-title .era-game-version {
  margin-left: 0.5rem;
  font-size: 70%;
  font-weight: normal;
}
.era-game-title .era-game-author {
  font-size: 70%;
  width: 30%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.era-game-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.era-game-meta {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 0.5rem;
}
.era-game-meta .update-time {
  font-size: 90%;
}

.era-game-content {
  margin-top: 0.5rem;
}
.era-game-link {
  display: flex;
  justify-content: space-between;
}
.era-game-log {
  display: block;
  margin-left: 2rem;
}

.download-button {
  position: relative;
  cursor: pointer;
  border-width: 0;
  padding: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}
.download-button .docs-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.download-button:hover .download {
  transform: translateY(100%);
}
.download svg polyline,
.download svg line {
  animation: docs-icon 1s infinite;
}
@keyframes docs-icon {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
